/*Created by Marco Junior Git-Hub:@asfro-dev
    Olá, este é meu primeiro projeto!

        Feito com muito carinho, espero que goste
            e obrigado por inspecionar o código <3
*/


/*central alert*/
    .central {
        display: grid;
        max-width: 400px;
        width: 100%;
        margin: 10vw auto;
        padding: 0 30px;
        text-align: center;
        animation: fadeInMove 1s;
    }
    @keyframes fadeInMove {
        0% { opacity: 0 }
        0% { padding-bottom: 5vh;   }
        100% { opacity: 1; }
    }
    .central h1 {
        color: #333;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .central h2 {
        text-align: center;
        color: #333;
        font-size: 1em;
        margin-bottom: 20px;
        
    }
    .central h4 {
        color: #333;
        font-size: 0.5em;
        margin-bottom: 10px;
        animation: slowFade 3s;
    }
    @keyframes slowFade {
        0% { opacity: 0; }
        80% {opacity: 0;}
        100% { opacity: 1; }
  
      }

/*quadro/window of game*/
  .grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    padding: 0 30px;
  }
  .card{
    aspect-ratio: 3/4;
    width:100%;
    background-color: rgba(51, 51, 51, 0.74);
    border-radius: 4px;
    position: relative;
    transition: all 500ms ease;
    transform-style: preserve-3d;
  }
  .face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    border-radius: 4px;
    transition: all 400ms ease;
  }
  .front {
    background-size: cover;
    transform: rotatey(180deg);
    border: #333 2px solid;
  }
  .back{
    border: #333 2px solid;
    background-image: url('../images/brain.png');
    background-size: 110px 158px;
    backface-visibility: hidden;
    background-position-y: -5px;
    background-position-x: 9px;
  }
  .reveal-card{
    transform: rotatey(180deg);
  }
  .disable-card{
    filter: saturate(0);
    opacity: 0.5;
  }